.account {
  font-size: 32px !important;
  line-height: 36px !important;
  font-weight: 450 !important;
  color: #222222 !important;
}

.user-info {
  font-size: 20px !important;
}
.user-name {
  font-weight: 450 !important;
  color: #222222 !important;
}
.go-to-profile {
  font-weight: 450 !important;
  color: #222222 !important;
}

.card-text {
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgb(113, 113, 113) !important;
  font-weight: 400 !important;
}
