<div class="relative flex flex-col rounded-xl bg-transparent p-6 shadow-lg">
  <h4 class="block text-xl font-medium text-slate-800">
    Create category for {{parentCategory.name}}
  </h4>

  <form [formGroup]="categoryFormGroup" class="mt-8 mb-2  max-w-screen-lg  flex flex-col gap-4 justify-center items-center">
    <div class="mb-1 flex flex-col gap-6">
      <div class="w-full ">

        <input type="text" formControlName="name" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="Category Name" />
      </div>

      
    </div>

    <button *ngIf="!editMode" (click)="createCategory()" class="mt-4 w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
      Create
    </button>
    <button *ngIf="editMode"  (click)="updateCategory()" class="mt-4 w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
      Create
    </button>
  </form>
</div>