<div class="px-20">
  <app-marketplace-banner></app-marketplace-banner>

  <!-- list of categories -->
  <div class="grid grid-cols-4 gap-5 p-8">
    <ng-container *ngFor="let item of categories; let i=index">
      <app-category-card [category]="item" [index]="i"></app-category-card>
      
    </ng-container>
  </div>
  <app-popular-product title="Popular in Electronics" category="Electronics"></app-popular-product>
  <app-popular-product title="Popular in Accessories"  category="Accessories"></app-popular-product>
  <app-popular-product title="Popular in Clothes"  category="Clothes"></app-popular-product>

  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <h2 class="sr-only">Products</h2>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
      <app-card></app-card>

        <!-- More products... -->
      </div>
    </div>
  </div>
</div>
