<div class="flex h-screen w-screen overflow-hidden">
  <!-- Sidebar -->

  <div class="flex grow flex-col content-start bg-gray-50">
    <!-- Header -->
    <!-- main content -->
    <div
      class=" flex grow overflow-y-scroll px-[5rem] scrollbar-thin scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100 scrollbar-thumb-gray-400"
    >
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>
