<div class="bg-linear-to-t from-sky-500 to-indigo-500  overflow-hidden">
    <div class="mx-auto max-w-7xl py-10 md:py-16 px-6 md:px-8">
      @if(ctaSection.mainTitle) {
      <div class="flex flex-col max-w-4xl w-full mx-auto items-center justify-center">
  
        <h2 class="text-2xl sm:text-3xl font-bold text-center text-primaryColor">
          {{ ctaSection.mainTitle }}
        </h2>
  
      </div>
      }
      <div class="relative md:flex md:gap-x-20 items-center" [ngClass]="
          ctaSection.photoPosition === 'right' ? 'flex-row' : 'flex-row-reverse'
        ">
        <div class="max-w-xl text-left">
          <h2 class="text-balance flex flex-col text-2xl sm:text-4xl font-bold tracking-tight text-[#DC6BAD]">
            <span>{{
              ctaSection.title
              }}</span>
            @if(ctaSection.selectedTitle) {
            <span class="text-primaryColor">{{
              ctaSection.selectedTitle
              }}</span>
            }
          </h2>
          <p class="my-4 text-pretty text-base text-gray-800" [innerHTML]="ctaSection.description"></p>
          <div class="mt-10 flex items-center gap-x-6 justify-start">
            @if(ctaSection.button) {
            <button [routerLink]="ctaSection.button.href"
              class="bg-[#DC6BAD] border-2 hover:border-primaryColor font-bold border-lightBluePrimary text-primaryColor whitespace-nowrap rounded-lg px-6 py-3 cursor-pointer flex flex-row gap-2 text-md justify-between items-center transition-all">
              {{ ctaSection.button.label }}
            </button>
  
            }
          </div>
        </div>
        <div class="relative w-full hidden md:block">
          <img class="rounded-2xl float-end" [src]="ctaSection.photo" [alt]="ctaSection.title"
            [title]="ctaSection.title" width="640" height="400" />
        </div>
      </div>
    </div>
  </div>